<section class="inner-banner">
  <div class="ib-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          Courses
        </div>
      </div>
    </div>
  </div>
</section>

<section class="yellow-bar-right">
  <div class="container">
    <div class="row yellow-bar-top p-t40-b60">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="sidebar-box">
          <div class="sb-heading">
            I Speak:
          </div>
          <div class="sb-box">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="assest/img/flag.jpg" alt="" /> Dropdown
                <i class="fa fa-chevron-down"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#"><img src="assest/img/flag.jpg" alt="" /> Dropdown</a></li>
                <li><a href="#"><img src="assest/img/flag.jpg" alt="" /> Dropdown</a></li>
              </ul>
              <ul class="dropdown-menu">
                <li>
                  <a href="/courses/afrikaans/">
                    <img class="flag-circle" src="https://static.memrise.com/uploads/language_photos/Afrikaans.png" alt=""> Afrikaans
                  </a>
                </li>
                <li>
                  <a href="/courses/albanian/">
                    <img class="flag-circle" src="https://static.memrise.com/uploads/category_photos/albanian.png" alt=""> Albanian
                  </a>
                </li>
                <li>
                  <a href="/courses/american-sign-language-asl/">
                    <img class="flag-circle" src="https://static.memrise.com/uploads/category_photos/sign-american.png" alt=""> American Sign Language (ASL)
                  </a>
                </li>
                <li>
                  <a href="/courses/ancient-greek/">
                    <img class="flag-circle" src="https://static.memrise.com/uploads/category_photos/Ancient-Greek.png" alt=""> Ancient Greek
                  </a>
                </li>
                <li>
                  <a href="/courses/arabic/">
                    <img class="flag-circle" src="https://static.memrise.com/uploads/category_photos/arabic.png" alt=""> Arabic
                  </a>
                </li>
                <li>
                  <a href="/courses/armenian/">
                    <img class="flag-circle" src="https://static.memrise.com/uploads/category_photos/armenian.png" alt=""> Armenian
                  </a>
                </li>
                <li>
                  <a href="/courses/azerbaijani/">
                    <img class="flag-circle" src="https://static.memrise.com/uploads/category_photos/azerbaijini.png" alt=""> Azerbaijani
                  </a>
                </li>
                <li>
                  <a href="/courses/basque/">
                    <img class="flag-circle" src="https://static.memrise.com/uploads/language_photos/DemoFlags-38_copy.png" alt=""> Basque
                  </a>
                </li>
                <li>
                  <a href="/courses/belarusian/">
                    <img class="flag-circle" src="https://static.memrise.com/uploads/category_photos/belarus.png" alt=""> Belarusian
                  </a>
                </li>
                <li>
                  <a href="/courses/bengali/">
                    <img class="flag-circle" src="https://static.memrise.com/uploads/language_photos/DemoFlags-61_copy.png" alt=""> Bengali
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="sidebar-box">
          <div class="sb-heading">
            Top Categories:
          </div>
          <div class="sb-box">
            <ul class="flag-list-menu">
              <li>
                <a href="/courses/afrikaans/">
                  <img class="flag-circle" src="https://static.memrise.com/uploads/language_photos/Afrikaans.png" alt=""> Afrikaans
                </a>
              </li>
              <li>
                <a href="/courses/albanian/">
                  <img class="flag-circle" src="https://static.memrise.com/uploads/category_photos/albanian.png" alt=""> Albanian
                </a>
              </li>
              <li>
                <a href="/courses/ancient-greek/">
                  <img class="flag-circle" src="https://static.memrise.com/uploads/category_photos/Ancient-Greek.png" alt=""> Ancient Greek
                </a>
              </li>
              <li>
                <a href="/courses/arabic/">
                  <img class="flag-circle" src="https://static.memrise.com/uploads/category_photos/arabic.png" alt=""> Arabic
                </a>
              </li>
              <li>
                <a href="/courses/armenian/">
                  <img class="flag-circle" src="https://static.memrise.com/uploads/category_photos/armenian.png" alt=""> Armenian
                </a>
              </li>
              <li>
                <a href="/courses/azerbaijani/">
                  <img class="flag-circle" src="https://static.memrise.com/uploads/category_photos/azerbaijini.png" alt=""> Azerbaijani
                </a>
              </li>
              <li>
                <a href="/courses/basque/">
                  <img class="flag-circle" src="https://static.memrise.com/uploads/language_photos/DemoFlags-38_copy.png" alt=""> Basque
                </a>
              </li>
              <li>
                <a href="/courses/belarusian/">
                  <img class="flag-circle" src="https://static.memrise.com/uploads/category_photos/belarus.png" alt=""> Belarusian
                </a>
              </li>
              <li>
                <a href="/courses/bengali/">
                  <img class="flag-circle" src="https://static.memrise.com/uploads/language_photos/DemoFlags-61_copy.png" alt=""> Bengali
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="sidebar-box">
          <div class="sb-heading">
            All Categories:
          </div>
          <div class="sb-box">
            <div class="side-menu">
              <ul>
                <li class="dropdown-side">
                  <a href="#" data-toggle="dropdown">Languages <i class="icon-arrow"></i></a>
                  <ul class="dropdown-menu-side">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </li>
                <li class="dropdown-side">
                  <a href="#" data-toggle="dropdown">Arts & Literature <i class="icon-arrow"></i></a>
                  <ul class="dropdown-menu-side">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </li>
                <li class="dropdown-side">
                  <a href="#" data-toggle="dropdown">Maths & Science <i class="icon-arrow"></i></a>
                  <ul class="dropdown-menu-side">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </li>
                <li class="dropdown-side">
                  <a href="#" data-toggle="dropdown">The Natural World <i class="icon-arrow"></i></a>
                  <ul class="dropdown-menu-side">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </li>
                <li class="dropdown-side">
                  <a href="#" data-toggle="dropdown">History & Geography <i class="icon-arrow"></i></a>
                  <ul class="dropdown-menu-side">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </li>
                <li class="dropdown-side">
                  <a href="#" data-toggle="dropdown">Memory training <i class="icon-arrow"></i></a>
                  <ul class="dropdown-menu-side">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </li>
                <li class="dropdown-side">
                  <a href="#" data-toggle="dropdown">Professional and Careers <i class="icon-arrow"></i></a>
                  <ul class="dropdown-menu-side">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </li>
                <li class="dropdown-side">
                  <a href="#" data-toggle="dropdown">Standardised tests <i class="icon-arrow"></i></a>
                  <ul class="dropdown-menu-side">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </li>
                <li class="dropdown-side">
                  <a href="#" data-toggle="dropdown">Entertainment <i class="icon-arrow"></i></a>
                  <ul class="dropdown-menu-side">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </li>
                <li class="dropdown-side">
                  <a href="#" data-toggle="dropdown">Entertainment <i class="icon-arrow"></i></a>
                  <ul class="dropdown-menu-side">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="sort-bar">
          <div class="row">
            <div class="col-md-8 col-sm-8">
              Sort By : <span class="sort-tag">French <i class="fa fa-window-close"></i></span>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="sb-grid">
                <a href="#"><i class="fa fa-th-list" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-th" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-section">
          <div class="course-list">
            <div class="cl-img">
              <div class="cl-tag">
                <img src="assest/img/flag-02.jpg" alt="" />
              </div>
              <a [routerLink]='["/coursedetail"]'><img src="assest/img/arabic-course.jpg" alt="" /></a>
            </div>
            <div class="cl-detail">
              <div class="cl-heading">
                <a [routerLink]='["/coursedetail"]' >Arabic 1</a>
                <div class="cl-by">
                  by <span>My Mayo</span>
                </div>
              </div>
              <div class="cl-static">
                <span>354k learners</span>  |  <span>4h avg duration </span>
              </div>
              <div class="cl-txt">
                <p>Part 1 of the complete and inspirational mission to Memrise Arabic. Introduce yourself in Arabic, get around, and learn a bunch of useful colloquial expressions to make people smile.</p>
              </div>
            </div>
          </div>
          <div class="course-list">
            <div class="cl-img">
              <div class="cl-tag">
                <img src="assest/img/flag-02.jpg" alt="" />
              </div>
              <a [routerLink]='["/coursedetail"]'><img src="assest/img/french-course.jpg" alt="" /></a>
            </div>
            <div class="cl-detail">
              <div class="cl-heading">
                <a [routerLink]='["/coursedetail"]'>French 1</a>
                <div class="cl-by">
                  by <span>My Mayo</span>
                </div>
              </div>
              <div class="cl-static">
                <span>347k learners</span>  |  <span>8h avg duration </span>
              </div>
              <div class="cl-txt">
                <p>Get started in French to learn the basics and introduce yourself. You’ll discover how to ask for recommendations about what to see and where to eat the best crème brûlée in town. And how to order it, of course.</p>
              </div>
            </div>
          </div>
          <div class="course-list">
            <div class="cl-img">
              <div class="cl-tag">
                <img src="assest/img/flag-02.jpg" alt="" />
              </div>
              <a [routerLink]='["/coursedetail"]'><img src="assest/img/spanish-course.jpg" alt="" /></a>
            </div>
            <div class="cl-detail">
              <div class="cl-heading">
                <a [routerLink]='["/coursedetail"]'>Spanish (Spain) 1</a>
                <div class="cl-by">
                  by <span>My Mayo</span>
                </div>
              </div>
              <div class="cl-static">
                <span>265k learners</span>  |  <span>7h avg duration </span>
              </div>
              <div class="cl-txt">
                <p>Get started in Spanish to learn the basics and introduce yourself. You’ll discover how to ask for recommendations about what to see and where to eat the best paella. And how to order it, of course.</p>
              </div>
            </div>
          </div>
          <div class="course-list">
            <div class="cl-img">
              <div class="cl-tag">
                <img src="assest/img/flag-02.jpg" alt="" />
              </div>
              <a [routerLink]='["/coursedetail"]'><img src="assest/img/arabic-course.jpg" alt="" /></a>
            </div>
            <div class="cl-detail">
              <div class="cl-heading">
                <a [routerLink]='["/coursedetail"]'>Arabic 1</a>
                <div class="cl-by">
                  by <span>My Mayo</span>
                </div>
              </div>
              <div class="cl-static">
                <span>354k learners</span>  |  <span>4h avg duration </span>
              </div>
              <div class="cl-txt">
                <p>Part 1 of the complete and inspirational mission to Memrise Arabic. Introduce yourself in Arabic, get around, and learn a bunch of useful colloquial expressions to make people smile.</p>
              </div>
            </div>
          </div>
          <div class="course-list">
            <div class="cl-img">
              <div class="cl-tag">
                <img src="assest/img/flag-02.jpg" alt="" />
              </div>
              <a [routerLink]='["/coursedetail"]'><img src="assest/img/french-course.jpg" alt="" /></a>
            </div>
            <div class="cl-detail">
              <div class="cl-heading">
                <a [routerLink]='["/coursedetail"]'>French 1</a>
                <div class="cl-by">
                  by <span>My Mayo</span>
                </div>
              </div>
              <div class="cl-static">
                <span>347k learners</span>  |  <span>8h avg duration </span>
              </div>
              <div class="cl-txt">
                <p>Get started in French to learn the basics and introduce yourself. You’ll discover how to ask for recommendations about what to see and where to eat the best crème brûlée in town. And how to order it, of course.</p>
              </div>
            </div>
          </div>
          <div class="course-list">
            <div class="cl-img">
              <div class="cl-tag">
                <img src="assest/img/flag-02.jpg" alt="" />
              </div>
              <a [routerLink]='["/coursedetail"]'><img src="assest/img/spanish-course.jpg" alt="" /></a>
            </div>
            <div class="cl-detail">
              <div class="cl-heading">
                <a [routerLink]='["/coursedetail"]'>Spanish (Spain) 1</a>
                <div class="cl-by">
                  by <span>My Mayo</span>
                </div>
              </div>
              <div class="cl-static">
                <span>265k learners</span>  |  <span>7h avg duration </span>
              </div>
              <div class="cl-txt">
                <p>Get started in Spanish to learn the basics and introduce yourself. You’ll discover how to ask for recommendations about what to see and where to eat the best paella. And how to order it, of course.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="paging">
          <ul>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="last"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cta-one">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <strong>Ready to Begin?</strong>
        <p>Find subjects you're passionate about by browsing our online course categories. <br />Start learning with top courses Built With Industry Experts.</p>
        <a href="#" class="yellow-btn mr-40">Start Teaching</a> <a href="#" class="yellow-btn">Start Learning</a>
      </div>
    </div>
  </div>
</section>
