@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");
html, body {
  min-height: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  color: #2b3648;
  overflow-x: hidden; }

ul {
  padding: 0px;
  margin: 0px; }
  ul li {
    display: block; }

p {
  line-height: 22px; }

h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px; }

a {
  text-decoration: none;
  transition: all 0.5s ease; }
  a:hover {
    text-decoration: none; }
  a:focus {
    text-decoration: none;
    border: 0px;
    outline: 0px; }

:focus {
  text-decoration: none;
  border: 0px;
  outline: 0px;
  background: none; }

section {
  width: 100%;
  clear: both; }

.scroll-top {
  z-index: 1049;
  position: fixed;
  visibility: visible;
  bottom: 2%;
  right: 2%;
  border-radius: 50%;
  border: 1px solid transparent;
  min-height: 50px;
  min-width: 50px;
  background-color: rgba(0, 0, 0, 0.3); }
  .scroll-top a {
    color: #fff; }
  .scroll-top i {
    color: #fff; }
  .scroll-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
    outline: 0; }
    .scroll-top:hover i {
      color: #fff; }
  .scroll-top:focus {
    background-color: rgba(0, 0, 0, 0.6);
    outline: 0; }
    .scroll-top:focus i {
      color: #fff; }

.yellow-bar-right {
  position: relative; }
  .yellow-bar-right:after {
    position: absolute;
    content: "";
    width: 50%;
    top: 0;
    right: 0;
    height: 30px;
    background: #ffc001; }

.yellow-bar-top {
  border-top: 30px solid #ffc001; }

.blu-bar-left {
  position: relative; }
  .blu-bar-left:after {
    position: absolute;
    content: "";
    width: 50%;
    top: 0;
    left: 0;
    height: 30px;
    background: #2b3648;
    z-index: 1; }
  .blu-bar-left:before {
    position: absolute;
    content: "";
    width: 50%;
    top: 0;
    right: 0;
    height: 30px;
    background: #fff;
    z-index: 1; }

.blu-bar-top {
  border-top: 30px solid #2b3648; }

.blue-txt {
  color: #2b3648; }

.yellow-txt {
  color: #ffc001; }

.ptb-70 {
  padding: 70px 0; }

.pt-70 {
  padding-top: 70px; }

.section-heading strong {
  font-size: 30px;
  font-weight: 300;
  color: #2b3648;
  font-family: 'blacker';
  margin-bottom: 8px; }

.section-heading h1 {
  padding: 0;
  line-height: 60px;
  margin-bottom: 9px;
  font-size: 50px;
  font-weight: 900;
  font-family: 'gilroy'; }

.section-heading p {
  padding: 0;
  margin: 0 0 45px 0;
  font-size: 18px;
  line-height: 30px; }

.section-heading .blue-heading {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -moz-linear-gradient(0deg, #4e5b70 0%, #303f58 100%);
  background-image: -webkit-linear-gradient(0deg, #4e5b70 0%, #303f58 100%);
  background-image: -ms-linear-gradient(0deg, #4e5b70 0%, #303f58 100%); }

.section-heading .yellow-heading {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -moz-linear-gradient(0deg, #ffc001 0%, #d7a200 100%);
  background-image: -webkit-linear-gradient(0deg, #ffc001 0%, #d7a200 100%);
  background-image: -ms-linear-gradient(0deg, #ffc001 0%, #d7a200 100%); }

.pb-80 {
  padding-bottom: 80px; }

.p-t70-b80 {
  padding-top: 70px;
  padding-bottom: 80px; }

.p-t40-b60 {
  padding-top: 40px;
  padding-bottom: 60px; }

.mr-40 {
  margin-right: 40px; }

.yellow-btn {
  display: inline-block;
  border-radius: 5px;
  background-image: -moz-linear-gradient(52deg, #d1a023 0%, #bf9431 100%);
  background-image: -webkit-linear-gradient(52deg, #d1a023 0%, #bf9431 100%);
  background-image: -ms-linear-gradient(52deg, #d1a023 0%, #bf9431 100%);
  padding: 9px 25px;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: solid 3px rgba(255, 255, 255, 0.2); }
  .yellow-btn:hover {
    color: #ffc001;
    background: #fff;
    border: solid 3px #ffc001; }

.blue-btn {
  display: inline-block;
  border-radius: 5px;
  background-image: -moz-linear-gradient(52deg, #4e5b70 0%, #303f58 100%);
  background-image: -webkit-linear-gradient(52deg, #4e5b70 0%, #303f58 100%);
  background-image: -ms-linear-gradient(52deg, #4e5b70 0%, #303f58 100%);
  padding: 9px 25px;
  margin-right: 0px;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: solid 3px rgba(255, 255, 255, 0.2); }
  .blue-btn:hover {
    color: #2b3648;
    background: #fff;
    border: solid 3px #2b3648; }

.txtbox-one {
  width: 100%;
  border-bottom: 1px solid rgba(43, 54, 72, 0.1);
  padding: 30px 0; }
  .txtbox-one:last-child {
    border-bottom: 0px solid rgba(43, 54, 72, 0.1);
    border-top: 1px solid white; }
  .txtbox-one .to-icon {
    float: left; }
  .txtbox-one .to-txt {
    padding-left: 75px; }
    .txtbox-one .to-txt strong {
      font-size: 24px;
      font-weight: 500;
      display: block;
      margin: 10px 0; }
    .txtbox-one .to-txt p {
      padding: 0;
      margin: 0;
      font-size: 18px;
      line-height: 25px; }

header {
  width: 100%;
  clear: both;
  padding: 10px 85px;
  background: #fff;
  box-shadow: 5.516px 4.31px 10px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1; }
  header .h-logo img {
    height: 70px; }
  header .navbar-default {
    background: none;
    border: 0px;
    border-radius: 0px;
    margin: 0; }
    header .navbar-default .navbar-header .navbar-brand {
      height: inherit;
      padding: 0;
      line-height: inherit; }
    header .navbar-default .navbar-collapse {
      padding: 0; }
      header .navbar-default .navbar-collapse .navbar-nav {
        float: right;
        font-weight: 700;
        color: #7f8da5;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 0; }
        header .navbar-default .navbar-collapse .navbar-nav > li {
          float: none;
          display: inline-flex;
          padding-top: 13px; }
          header .navbar-default .navbar-collapse .navbar-nav > li a {
            font-weight: 700;
            color: #7f8da5;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 0;
            margin-right: 30px; }
            header .navbar-default .navbar-collapse .navbar-nav > li a:hover {
              color: #2b3648; }
        header .navbar-default .navbar-collapse .navbar-nav > .active a {
          background: none;
          color: #2b3648; }
        header .navbar-default .navbar-collapse .navbar-nav > .member-btn {
          border: solid 3px rgba(255, 255, 255, 0.2);
          border-radius: 5px;
          background-image: -moz-linear-gradient(52deg, #4e5b70 0%, #303f58 100%);
          background-image: -webkit-linear-gradient(52deg, #4e5b70 0%, #303f58 100%);
          background-image: -ms-linear-gradient(52deg, #4e5b70 0%, #303f58 100%);
          padding: 12px 25px 7px; }
          header .navbar-default .navbar-collapse .navbar-nav > .member-btn a {
            margin-right: 0px;
            color: #fff; }
            header .navbar-default .navbar-collapse .navbar-nav > .member-btn a:hover {
              color: #ffc001; }
        header .navbar-default .navbar-collapse .navbar-nav > .dropdown > a:focus {
          background: none; }
        header .navbar-default .navbar-collapse .navbar-nav > .dropdown .dropdown-menu {
          padding: 0;
          margin-top: 10px; }
          header .navbar-default .navbar-collapse .navbar-nav > .dropdown .dropdown-menu a {
            padding: 10px 20px;
            margin: 0; }

.banner {
  background: #ffc001;
  position: relative; }
  .banner .banner-social {
    color: #fff;
    font-family: 'blacker';
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    margin: 0; }
    .banner .banner-social li {
      display: inline-flex;
      margin-right: 20px; }
      .banner .banner-social li a {
        color: #fff;
        font-size: 22px;
        display: block;
        cursor: pointer; }
        .banner .banner-social li a:hover {
          color: #2b3648; }
  .banner .banner-slider {
    background: #fff;
    margin-right: 50px;
    position: relative; }
    .banner .banner-slider .single-item .item {
      position: relative;
      display: block !important; }
      .banner .banner-slider .single-item .item .banner-txt {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%); }
        .banner .banner-slider .single-item .item .banner-txt p {
          font-size: 30px;
          line-height: 1;
          color: #2b3648;
          font-family: 'blacker'; }
        .banner .banner-slider .single-item .item .banner-txt strong {
          display: block;
          font-weight: 900;
          font-size: 90px;
          line-height: 90px;
          letter-spacing: 1px;
          font-family: 'gilroy';
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-image: -moz-linear-gradient(0deg, #4e5b70 0%, #303f58 100%);
          background-image: -webkit-linear-gradient(0deg, #4e5b70 0%, #303f58 100%);
          background-image: -ms-linear-gradient(0deg, #4e5b70 0%, #303f58 100%); }
        .banner .banner-slider .single-item .item .banner-txt .banner-search {
          max-width: 520px;
          width: 100%;
          display: flex;
          margin-top: 50px;
          border-radius: 100px;
          border: 3px solid rgba(255, 255, 255, 0.2); }
          .banner .banner-slider .single-item .item .banner-txt .banner-search select {
            width: 296px;
            background: url("../img/banner-search.png") no-repeat right #fff;
            border-radius: 50px 0 0 50px;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            border: 0;
            font-size: 24px;
            color: #333333;
            padding: 13px 25px 13px 35px; }
          .banner .banner-slider .single-item .item .banner-txt .banner-search input[type="submit"], .banner .banner-slider .single-item .item .banner-txt .banner-search input[type="button"], .banner .banner-slider .single-item .item .banner-txt .banner-search button {
            border: 0;
            font-size: 24px;
            color: #2b3648;
            padding: 13px 35px;
            background: #ffc001;
            width: calc(100% - 296px);
            border-radius: 0 50px 50px 0;
            border: 0; }
      .banner .banner-slider .single-item .item > img {
        width: 100%; }

.feature-box {
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 60px; }
  .feature-box > img {
    margin-bottom: 15px; }
  .feature-box strong {
    display: block; }
    .feature-box strong span {
      display: block; }

.promotion-section {
  background: #2b3648; }
  .promotion-section .ps-box {
    background: url("../img/bg-02.jpg") #fff no-repeat;
    background-size: cover;
    margin-left: 50px;
    position: relative;
    z-index: 1; }

.join-form {
  padding-left: 100px; }
  .join-form .jf-heading {
    font-family: 'Comic Sans MS';
    font-size: 30px;
    position: relative;
    margin-bottom: 25px; }
    .join-form .jf-heading span {
      color: #ffc001;
      display: block; }
    .join-form .jf-heading .jf-arrow {
      position: absolute;
      left: -60px;
      top: 30px; }
  .join-form .jf-form {
    background: #fff;
    border-radius: 0 40px 0 40px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
    padding: 50px; }
    .join-form .jf-form input[type="text"] {
      width: 100%;
      margin-bottom: 25px;
      border: 0;
      background: #e9ebec;
      border-radius: 5px;
      padding: 16px 25px;
      font-size: 20px; }
    .join-form .jf-form select {
      width: 100%;
      margin-bottom: 25px;
      border: 0;
      background: url("../img/select-arrow.png") no-repeat right #e9ebec;
      border-radius: 5px;
      padding: 16px 25px;
      font-size: 20px;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none; }
    .join-form .jf-form input[type="submit"] {
      width: 100%;
      border: 0;
      border-radius: 5px;
      background-image: -moz-linear-gradient(52deg, #4e5b70 0%, #303f58 100%);
      background-image: -webkit-linear-gradient(52deg, #4e5b70 0%, #303f58 100%);
      background-image: -ms-linear-gradient(52deg, #4e5b70 0%, #303f58 100%);
      padding: 11px 25px;
      color: #fff;
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: solid 3px rgba(255, 255, 255, 0);
      transition: ease 0.5s; }
      .join-form .jf-form input[type="submit"]:hover {
        color: #2b3648;
        background: #fff;
        border: solid 3px #2b3648; }

.testimonial {
  width: 100%;
  clear: both; }
  .testimonial .testimonial-item .slick-dots li button::before {
    border-radius: 50px;
    font-family: none;
    font-size: inherit;
    width: 15px;
    height: 15px;
    opacity: 1;
    background: #999; }
  .testimonial .testimonial-item .slick-dots .slick-active button::before {
    background: #2b3648;
    opacity: 1;
    width: 25px; }
  .testimonial .testimonial-item .item {
    padding: 70px 0 40px; }
    .testimonial .testimonial-item .item .ts-photo {
      text-align: center; }
      .testimonial .testimonial-item .item .ts-photo img {
        width: 270px;
        border-radius: 500px;
        margin: 0 auto;
        box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.15); }
    .testimonial .testimonial-item .item .quote {
      margin: 30px 0 40px; }
    .testimonial .testimonial-item .item .ts-text {
      line-height: 35px;
      font-size: 18px; }
    .testimonial .testimonial-item .item .ts-name {
      color: #999999;
      margin-top: 30px; }
      .testimonial .testimonial-item .item .ts-name span {
        font-weight: 700;
        color: #2b3648;
        text-transform: uppercase; }

footer {
  background: #f1f2f2;
  width: 100%;
  clear: both; }
  footer .footer-menu {
    width: 100%;
    clear: both;
    padding: 70px 0 60px; }
    footer .footer-menu .f-about {
      width: 100%;
      clear: both; }
      footer .footer-menu .f-about > img {
        max-width: 170px;
        display: block;
        margin-bottom: 80px; }
      footer .footer-menu .f-about .f-social {
        font-size: 22px;
        padding: 0;
        margin: 0; }
        footer .footer-menu .f-about .f-social li {
          display: inline-flex;
          margin-right: 12px; }
          footer .footer-menu .f-about .f-social li a {
            color: #2b3648;
            background: #fff;
            border-radius: 50px;
            font-size: 22px;
            display: block;
            text-align: center;
            width: 40px;
            height: 40px;
            line-height: 40px; }
            footer .footer-menu .f-about .f-social li a:hover {
              color: #fff;
              background: #2b3648; }
    footer .footer-menu .f-menu {
      width: 100%;
      clear: both; }
      footer .footer-menu .f-menu strong {
        display: block;
        font-family: 'blacker';
        font-size: 25px;
        border-bottom: 1px solid #dddfe1;
        font-size: 600;
        line-height: 1;
        padding-bottom: 25px; }
      footer .footer-menu .f-menu ul {
        width: 100%;
        clear: both;
        padding-top: 15px; }
        footer .footer-menu .f-menu ul li {
          display: block; }
          footer .footer-menu .f-menu ul li a {
            display: block;
            padding: 7px 0;
            color: #666666; }
            footer .footer-menu .f-menu ul li a::before {
              content: "\f105";
              font-family: 'FontAwesome';
              padding-right: 10px; }
            footer .footer-menu .f-menu ul li a:hover {
              color: #2b3648;
              padding-left: 5px; }
        footer .footer-menu .f-menu ul .simple-link a {
          display: inline-block;
          color: #2b3648;
          border-bottom: 1px solid #2b3648;
          padding-bottom: 0; }
          footer .footer-menu .f-menu ul .simple-link a::before {
            display: none;
            padding-right: 0px; }
          footer .footer-menu .f-menu ul .simple-link a:hover {
            padding-left: 0px; }
  footer .footer-copy {
    width: 100%;
    clear: both;
    text-align: center;
    font-size: 16px;
    border-top: 1px solid #dddfe1;
    padding: 27px 0; }
    footer .footer-copy span {
      color: #ffc001; }

.flag-menu {
  width: 47px;
  margin-left: 30px;
  margin-right: 0; }
  .flag-menu a img {
    width: 47px;
    border-radius: 100px; }
  .flag-menu .dropdown-menu {
    min-width: 89px;
    margin-left: -20px; }

.flag-menu-mobile {
  width: 47px;
  margin-right: 0;
  position: absolute;
  right: 30px;
  top: 24px;
  z-index: 9; }
  .flag-menu-mobile a img {
    width: 47px;
    border-radius: 100px; }
  .flag-menu-mobile .dropdown-menu {
    min-width: 89px;
    margin-left: -20px; }

.inner-banner {
  width: 100%;
  clear: both;
  position: relative;
  border-right: 50px solid #ffc001;
  min-height: 180px;
  background: url("../img/inner-img.jpg") no-repeat;
  background-size: cover; }
  .inner-banner > img {
    height: 100%;
    width: 100%; }
  .inner-banner .ib-heading {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    color: #fff;
    font-size: 60px;
    font-family: 'gilroy';
    font-weight: 900;
    line-height: 1; }

.cta-one {
  width: 100%;
  clear: both;
  background: url("../img/bg-03.jpg") no-repeat center center;
  background-size: cover;
  padding: 80px 0;
  text-align: center; }
  .cta-one strong {
    display: block;
    color: #fff;
    font-size: 50px;
    font-family: 'gilroy';
    font-weight: 900;
    line-height: 1;
    margin-bottom: 15px; }
  .cta-one p {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 46px; }

.sidebar-box {
  border: 1px solid #f0f3f7;
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.08);
  background: #f0f3f7; }
  .sidebar-box .sb-heading {
    font-weight: 700;
    font-size: 16px;
    padding: 14px 20px; }
  .sidebar-box .sb-box {
    background: #fff;
    border-radius: 0 0 5px 5px; }
    .sidebar-box .sb-box .flag-list-menu {
      width: 100%;
      border: 0; }
      .sidebar-box .sb-box .flag-list-menu img {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        margin-right: 5px; }
      .sidebar-box .sb-box .flag-list-menu li a {
        font-size: 16px;
        font-weight: 700;
        padding: 10px 15px 10px 20px;
        color: #2b3648;
        display: block; }
    .sidebar-box .sb-box .btn-group {
      width: 100%;
      font-size: 16px;
      font-weight: 700; }
      .sidebar-box .sb-box .btn-group img {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        margin-right: 5px; }
      .sidebar-box .sb-box .btn-group .dropdown-toggle {
        width: 100%;
        text-align: left;
        border: 0;
        padding: 10px 15px 10px 20px;
        font-size: 16px;
        font-weight: 700; }
        .sidebar-box .sb-box .btn-group .dropdown-toggle .fa {
          float: right;
          margin-top: 7px; }
        .sidebar-box .sb-box .btn-group .dropdown-toggle:hover {
          background: #fff; }
        .sidebar-box .sb-box .btn-group .dropdown-toggle:focus {
          background: #fff; }
      .sidebar-box .sb-box .btn-group .dropdown-menu {
        width: 100%;
        padding: 0;
        max-height: 350px;
        overflow: auto;
        border: 0; }
        .sidebar-box .sb-box .btn-group .dropdown-menu li a {
          font-size: 16px;
          font-weight: 700;
          padding: 13px 15px 13px 20px; }
    .sidebar-box .sb-box .side-menu {
      width: 100%;
      border: 0; }
      .sidebar-box .sb-box .side-menu ul {
        padding: 0; }
        .sidebar-box .sb-box .side-menu ul .dropdown-side a {
          text-decoration: none; }
        .sidebar-box .sb-box .side-menu ul .dropdown-side [data-toggle="dropdown"] {
          position: relative;
          display: block;
          font-size: 16px;
          font-weight: 700;
          padding: 14px 15px 14px 20px;
          color: #2b3648;
          display: block; }
        .sidebar-box .sb-box .side-menu ul .dropdown-side [data-toggle="dropdown-side"]:hover {
          background: #2c89c6; }
        .sidebar-box .sb-box .side-menu ul .dropdown-side .icon-arrow {
          position: absolute;
          display: block;
          font-size: 14px;
          color: #2b3648;
          top: 14px;
          right: 10px;
          font-style: unset; }
          .sidebar-box .sb-box .side-menu ul .dropdown-side .icon-arrow.open {
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            -moz-transition: -moz-transform 0.6s;
            -o-transition: -o-transform 0.6s;
            -webkit-transition: -webkit-transform 0.6s;
            transition: transform 0.6s; }
          .sidebar-box .sb-box .side-menu ul .dropdown-side .icon-arrow.close {
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -moz-transition: -moz-transform 0.6s;
            -o-transition: -o-transform 0.6s;
            -webkit-transition: -webkit-transform 0.6s;
            transition: transform 0.6s; }
          .sidebar-box .sb-box .side-menu ul .dropdown-side .icon-arrow::before {
            font-family: "FontAwesome";
            content: "\f054"; }
        .sidebar-box .sb-box .side-menu ul .dropdown-side .dropdown-menu-side {
          max-height: 0;
          overflow: hidden;
          list-style: none;
          padding: 0;
          margin: 0; }
          .sidebar-box .sb-box .side-menu ul .dropdown-side .dropdown-menu-side li {
            padding: 0; }
            .sidebar-box .sb-box .side-menu ul .dropdown-side .dropdown-menu-side li a {
              display: block;
              background: rgba(146, 146, 146, 0.08);
              font-size: 15px;
              font-weight: 500;
              padding: 10px 15px 10px 30px;
              color: #2b3648; }
              .sidebar-box .sb-box .side-menu ul .dropdown-side .dropdown-menu-side li a:hover {
                background: #fff; }
        .sidebar-box .sb-box .side-menu ul .dropdown-side .show {
          -moz-transform-origin: 50% 0%;
          -ms-transform-origin: 50% 0%;
          -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%; }
        .sidebar-box .sb-box .side-menu ul .dropdown-side .hide {
          -moz-transform-origin: 50% 0%;
          -ms-transform-origin: 50% 0%;
          -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%; }
        .sidebar-box .sb-box .side-menu ul .dropdown-side .show {
          display: block;
          max-height: 9999px;
          -moz-transform: scaleY(1);
          -ms-transform: scaleY(1);
          -webkit-transform: scaleY(1);
          transform: scaleY(1);
          animation: showAnimation 0.5s ease-in-out;
          -moz-animation: showAnimation 0.5s ease-in-out;
          -webkit-animation: showAnimation 0.5s ease-in-out;
          -moz-transition: max-height 1s ease-in-out;
          -o-transition: max-height 1s ease-in-out;
          -webkit-transition: max-height 1s ease-in-out;
          transition: max-height 1s ease-in-out; }
        .sidebar-box .sb-box .side-menu ul .dropdown-side .hide {
          max-height: 0;
          -moz-transform: scaleY(0);
          -ms-transform: scaleY(0);
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
          animation: hideAnimation 0.4s ease-out;
          -moz-animation: hideAnimation 0.4s ease-out;
          -webkit-animation: hideAnimation 0.4s ease-out;
          -moz-transition: max-height 0.6s ease-out;
          -o-transition: max-height 0.6s ease-out;
          -webkit-transition: max-height 0.6s ease-out;
          transition: max-height 0.6s ease-out; }

.sort-bar {
  width: 100%;
  clear: both;
  margin-bottom: 20px; }
  .sort-bar .sort-tag {
    display: inline-block;
    font-size: 14px;
    background: #f0f3f7;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px; }
    .sort-bar .sort-tag .fa {
      color: #ffc001;
      margin-left: 5px;
      cursor: pointer; }
  .sort-bar .sb-grid {
    text-align: right; }
    .sort-bar .sb-grid a {
      background: #f0f3f7;
      color: #2b3648;
      display: inline-block;
      border-radius: 5px;
      font-size: 20px;
      padding: 6px 10px;
      margin-left: 7px; }
      .sort-bar .sb-grid a:hover {
        background: #2b3648;
        color: #f0f3f7; }
  .sort-bar .breadcrumb {
    padding-left: 0;
    background: none;
    margin-bottom: 0; }
    .sort-bar .breadcrumb li a {
      color: #2b3648; }

.course-section {
  width: 100%;
  clear: both; }
  .course-section .course-list {
    width: 100%;
    clear: both;
    border: 1px #f0f3f7 solid;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    padding: 10px;
    float: left; }
    .course-section .course-list .cl-img {
      width: 400px;
      border: 1px #f0f3f7 solid;
      border-radius: 5px;
      position: relative;
      float: left; }
      .course-section .course-list .cl-img img {
        border-radius: 5px;
        width: 100%; }
      .course-section .course-list .cl-img .cl-tag {
        position: absolute;
        padding: 15px 5px 5px 5px;
        border-radius: 0 0 50px 50px;
        margin-left: 10px;
        top: -5px;
        background-image: -moz-linear-gradient(90deg, #ffc001 0%, #ffc001 72%, #d9a815 87%, #ffc001 100%);
        background-image: -webkit-linear-gradient(90deg, #ffc001 0%, #ffc001 72%, #d9a815 87%, #ffc001 100%);
        background-image: -ms-linear-gradient(90deg, #ffc001 0%, #ffc001 72%, #d9a815 87%, #ffc001 100%); }
        .course-section .course-list .cl-img .cl-tag img {
          width: 40px;
          border-radius: 50px;
          border: 2px solid #fff; }
        .course-section .course-list .cl-img .cl-tag::before {
          content: "";
          position: absolute;
          left: -5px;
          top: 0px;
          border-top: 5px solid transparent;
          border-right: 5px solid #ab850f; }
        .course-section .course-list .cl-img .cl-tag::after {
          content: "";
          position: absolute;
          right: -5px;
          top: 0px;
          border-top: 5px solid transparent;
          border-left: 5px solid #ab850f; }
    .course-section .course-list .cl-detail {
      padding: 30px 30px 30px 430px; }
      .course-section .course-list .cl-detail .cl-heading {
        font-family: 'gilroy';
        font-size: 30px;
        font-weight: 900;
        line-height: 1;
        margin-bottom: 18px; }
        .course-section .course-list .cl-detail .cl-heading .cl-by {
          color: #999999;
          font-size: 16px;
          font-weight: 400;
          font-family: 'Roboto', sans-serif;
          float: right;
          margin-top: 10px; }
          .course-section .course-list .cl-detail .cl-heading .cl-by span {
            color: #2b3648; }
        .course-section .course-list .cl-detail .cl-heading a {
          color: #2b3648; }
      .course-section .course-list .cl-detail .cl-static {
        color: #999999;
        line-height: 1;
        margin-bottom: 14px; }
        .course-section .course-list .cl-detail .cl-static span {
          color: #ffc001; }
      .course-section .course-list .cl-detail .cl-txt p {
        line-height: 30px; }

.paging {
  width: 100%;
  clear: both;
  text-align: center; }
  .paging ul li {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin: 0 5px; }
    .paging ul li a {
      display: block;
      color: #abadb2;
      border-radius: 5px;
      background: #fff;
      border: 1px solid #bebfc3;
      width: 40px;
      line-height: 38px;
      height: 40px; }
      .paging ul li a:hover {
        color: #fff;
        background: #2b3648;
        border: 1px solid #2b3648; }
  .paging ul .active a {
    color: #fff;
    background: #2b3648;
    border: 1px solid #2b3648; }
  .paging ul .last a {
    color: #abadb2;
    background: #fff;
    border: 1px solid #fff; }

.level-section {
  width: 100%;
  clear: both; }
  .level-section .ls-heading {
    font-family: 'gilroy';
    font-weight: 900;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 20px; }
  .level-section .ls-section {
    width: 100%;
    clear: both;
    border: 1px #f0f3f7 solid;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.08);
    padding: 30px 30px 0px 30px; }
    .level-section .ls-section .level-box {
      margin-bottom: 30px;
      width: 100%;
      clear: both; }
      .level-section .ls-section .level-box .lb-box {
        width: 100%;
        max-width: 256px;
        clear: both;
        margin: 0 auto 20px;
        background: url("../img/level-bg-blc.jpg") no-repeat center center;
        background-size: 100% 100%;
        border-radius: 5px;
        height: 270px;
        padding: 20px;
        cursor: pointer; }
        .level-section .ls-section .level-box .lb-box .l-no {
          text-align: center;
          font-family: 'gilroy';
          font-weight: 900;
          font-size: 24px;
          line-height: 1;
          margin-bottom: 10px; }
        .level-section .ls-section .level-box .lb-box .l-name {
          text-align: center;
          font-family: 'gilroy';
          font-weight: 900;
          font-size: 22px;
          line-height: 1;
          margin-bottom: 10px; }
          .level-section .ls-section .level-box .lb-box .l-name a {
            color: #2b3648; }
        .level-section .ls-section .level-box .lb-box .l-star {
          width: 100%;
          clear: both;
          height: 125px;
          position: relative;
          margin-bottom: 20px; }
          .level-section .ls-section .level-box .lb-box .l-star .star-center {
            position: absolute;
            width: 85px;
            height: 115px;
            background: url("../img/star-a.png");
            left: 50%;
            top: 0;
            transform: translate(-50%, 0); }
          .level-section .ls-section .level-box .lb-box .l-star .star-left {
            position: absolute;
            width: 62px;
            height: 83px;
            background: url("../img/star-b.png");
            left: 2px;
            top: 42px; }
          .level-section .ls-section .level-box .lb-box .l-star .star-right {
            position: absolute;
            width: 62px;
            height: 83px;
            background: url("../img/star-b.png");
            right: 2px;
            top: 42px; }
        .level-section .ls-section .level-box .lb-box:hover {
          box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.08); }
      .level-section .ls-section .level-box .active {
        background: url("../img/level-bg-ylo.jpg") no-repeat center center;
        background-size: 100% 100%; }
        .level-section .ls-section .level-box .active .l-no {
          color: #fff; }
        .level-section .ls-section .level-box .active .l-name {
          color: #fff; }
          .level-section .ls-section .level-box .active .l-name a {
            color: #fff; }
        .level-section .ls-section .level-box .active .l-star .star-center {
          background: url("../img/star-c.png"); }
        .level-section .ls-section .level-box .active .l-star .star-left {
          background: url("../img/star-d.png"); }
        .level-section .ls-section .level-box .active .l-star .star-right {
          background: url("../img/star-d.png"); }
      .level-section .ls-section .level-box p {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 22px;
        text-align: center; }

.map {
  width: 100%;
  clear: both;
  display: flex; }

.contact-section {
  width: 100%;
  clear: both; }
  .contact-section h1 {
    line-height: 1; }
  .contact-section .c-social {
    font-size: 22px;
    padding: 0;
    margin: 0; }
    .contact-section .c-social li {
      display: inline-flex;
      margin-right: 12px; }
      .contact-section .c-social li a {
        color: #2b3648;
        background: #fff;
        border-radius: 50px;
        font-size: 22px;
        display: block;
        text-align: center;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border: 1px solid #2b3648; }
        .contact-section .c-social li a:hover {
          color: #fff;
          background: #2b3648; }
  .contact-section .contact-info {
    margin-bottom: 50px; }
    .contact-section .contact-info .ci-box {
      width: 100%;
      clear: both;
      margin-bottom: 40px; }
      .contact-section .contact-info .ci-box > img {
        float: left;
        margin-right: 40px; }
      .contact-section .contact-info .ci-box .cib-txt strong {
        display: block;
        font-size: 22px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 10px; }
      .contact-section .contact-info .ci-box .cib-txt p {
        color: #666666;
        margin: 0; }
  .contact-section .contact-form {
    border: #f0f3f7 1px solid;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.08);
    padding: 40px 50px; }
    .contact-section .contact-form h1 {
      line-height: 1; }
    .contact-section .contact-form p {
      margin-bottom: 30px; }
    .contact-section .contact-form input[type="text"] {
      width: 100%;
      clear: both;
      margin-bottom: 10px;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 1px solid #e5e8ed;
      color: #999999;
      font-size: 18px;
      padding: 17px 10px; }
    .contact-section .contact-form textarea {
      width: 100%;
      clear: both;
      margin-bottom: 10px;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 1px solid #e5e8ed;
      color: #999999;
      font-size: 18px;
      padding: 10px 10px;
      resize: none; }
    .contact-section .contact-form input[type="submit"] {
      width: 100%;
      clear: both;
      padding: 11px 10px; }

@keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1); }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04); }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98); }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04); }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98); }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02); }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

@-moz-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1); }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04); }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98); }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04); }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98); }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02); }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

@-webkit-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1); }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04); }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98); }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04); }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98); }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02); }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

@keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98); }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02); }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0); } }

@-moz-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98); }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02); }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0); } }

@-webkit-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98); }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02); }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0); } }
