<section class="banner">
  <ul class="banner-social">
    <li>Follow us on :</li>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
  </ul>
  <div class="banner-slider">
    <div class="single-item slider">
      <div class="item">
        <div class="banner-txt">
          <div class="container">
            <div class="row">
              <div class="col-md-7 col-sm-8 col-xs-12">
                <p>Language School</p>
                <strong>Any Language You Want!</strong>
                <div class="banner-search">
                  <select>
                    <option>Zulu</option>
                    <option>Zulu</option>
                    <option>Zulu</option>
                  </select>
                  <input type="submit" value="Find a course">
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="assest/img/banner-01.jpg" alt="" />
      </div>
      <div class="item">
        <div class="banner-txt">
          <div class="container">
            <div class="row">
              <div class="col-md-7 col-sm-8 col-xs-12">
                <p>Language School</p>
                <strong>Any Language You Want!</strong>
                <div class="banner-search">
                  <select>
                    <option>Zulu</option>
                    <option>Zulu</option>
                    <option>Zulu</option>
                  </select>
                  <input type="submit" value="Find a course">
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="assest/img/banner-01.jpg" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="yellow-bar-right pb-80">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 yellow-bar-top">
        <div class="section-heading text-center pt-70">
          <strong>Start Now!</strong>
          <h1 class="blue-heading">Learn a New Language</h1>
          <p>With Native Languages, you feel at home anywhere around the world</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="feature-box">
          <img src="assest/img/icon-01.png" alt="" />
          <strong>An Easy Study <span>Approach</span></strong>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="feature-box">
          <img src="assest/img/icon-02.png" alt="" />
          <strong><span>Free Teaching</span>Materials</strong>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="feature-box">
          <img src="assest/img/icon-03.png" alt="" />
          <strong><span>A Mobile Friendly Platform</span></strong>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="feature-box">
          <img src="assest/img/icon-04.png" alt="" />
          <strong><span>Courses by</span>Scholars</strong>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <a href="#" class="blue-btn">Getting Started</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blu-bar-left">
  <div class="promotion-section">
    <div class="ps-box">
      <div class="container">
        <div class="row blu-bar-top ptb-70">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="section-heading">
              <strong>Our Learning App...</strong>
              <h1 class="blue-txt">Learn High Level Languages form <span class="yellow-txt">Mayo</span></h1>
            </div>
            <div class="txtbox-one">
              <div class="to-icon">
                <img src="assest/img/star.png" alt="" />
              </div>
              <div class="to-txt">
                <strong>Peragraph Heading One</strong>
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
              </div>
            </div>
            <div class="txtbox-one">
              <div class="to-icon">
                <img src="assest/img/star.png" alt="" />
              </div>
              <div class="to-txt">
                <strong>Peragraph Heading One</strong>
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="join-form">
              <div class="jf-heading">
                <div class="jf-arrow">
                  <img src="assest/img/down-arrow.png" alt="" />
                </div>
                If you’re Teacher<span>Join the team</span>
              </div>

              <div class="jf-form">
                <input type="text" placeholder="Name" name="firstName" [(ngModel)]="firstName">
                <input type="text" placeholder="Email" name="userName" [(ngModel)]="userName">
                <select name="qualification" [(ngModel)]="qualification">
                  <option value="0">Choose Qualification</option>
                  <option value="BCA">BCA</option>
                  <option value="MCA">MCA</option>
                </select>
                <input type="submit" value="teacher Registration" (click)="onSubmit()">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonial p-t70-b80">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-heading text-center">
          <strong>Testimonials</strong>
          <h1 class="yellow-heading">People Say About Us</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="testimonial-slider">
          <div class="testimonial-item slider">
            <div class="item">
              <div class="ts-box">
                <div class="row">
                  <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="ts-photo">
                      <img src="assest/img/photo.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-7 col-sm-7 col-xs-12">
                    <img src="assest/img/quote.png" alt="" class="quote" />
                    <p class="ts-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                    <p class="ts-name"><span>ARJANA</span>, Africa</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ts-box">
                <div class="row">
                  <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="ts-photo">
                      <img src="assest/img/photo.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-7 col-sm-7 col-xs-12">
                    <img src="assest/img/quote.png" alt="" class="quote" />
                    <p class="ts-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                    <p class="ts-name"><span>ARJANA</span>, Africa</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ts-box">
                <div class="row">
                  <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="ts-photo">
                      <img src="assest/img/photo.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-7 col-sm-7 col-xs-12">
                    <img src="assest/img/quote.png" alt="" class="quote" />
                    <p class="ts-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                    <p class="ts-name"><span>ARJANA</span>, Africa</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ts-box">
                <div class="row">
                  <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="ts-photo">
                      <img src="assest/img/photo.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-7 col-sm-7 col-xs-12">
                    <img src="assest/img/quote.png" alt="" class="quote" />
                    <p class="ts-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                    <p class="ts-name"><span>ARJANA</span>, Africa</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
