@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
// font-family: 'blacker';
// font-family: 'gilroy';

html, body {
  min-height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  color: #2b3648;
  overflow-x: hidden;
}
ul {
  padding: 0px;
  margin: 0px;
  li {
    display: block;
  }
}
p {
  line-height: 22px;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  transition: all 0.5s ease;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    border: 0px;
    outline: 0px;
  }
}
:focus {
  text-decoration: none;
  border: 0px;
  outline: 0px;
  background: none;
}
section {
  width: 100%;
  clear: both;
}
.scroll-top {
  z-index: 1049;
  position: fixed;
  visibility: visible;
  bottom: 2%;
  right: 2%;
  border-radius: 50%;
  border: 1px solid transparent;
  min-height: 50px;
  min-width: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  a {
    color: #fff;
  }
  i {
    color: #fff;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
    outline: 0;
    i {
      color: #fff;
    }
  }
  &:focus {
    background-color: rgba(0, 0, 0, 0.6);
    outline: 0;
    i {
      color: #fff;
    }
  }
}
.yellow-bar-right {
  position: relative;
  &:after {
    position: absolute;
    content: "";
    width: 50%;
    top: 0;
    right: 0;
    height: 30px;
    background: #ffc001;
  }
}
.yellow-bar-top {
  border-top: 30px solid #ffc001;
}
.blu-bar-left {
  position: relative;
  &:after {
    position: absolute;
    content: "";
    width: 50%;
    top: 0;
    left: 0;
    height: 30px;
    background: #2b3648;
    z-index: 1;
  }
  &:before {
    position: absolute;
    content: "";
    width: 50%;
    top: 0;
    right: 0;
    height: 30px;
    background: #fff;
    z-index: 1;
  }
}
.blu-bar-top {
  border-top: 30px solid #2b3648;
}
.blue-txt {
  color: #2b3648;
}
.yellow-txt {
  color: #ffc001;
}
.ptb-70 {
  padding: 70px 0;
}
.pt-70 {
  padding-top: 70px;
}
.section-heading {
  strong {
    font-size: 30px;
    font-weight: 300;
    color: #2b3648;
    font-family: 'blacker';
    margin-bottom: 8px;
  }
  h1 {
    padding: 0;
    line-height: 60px;
    margin-bottom: 9px;
    font-size: 50px;
    font-weight: 900;
    font-family: 'gilroy';
  }
  p {
    padding: 0;
    margin: 0 0 45px 0;
    font-size: 18px;
    line-height: 30px;
  }
  .blue-heading {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -moz-linear-gradient(0deg, rgb(78, 91, 112) 0%, rgb(48, 63, 88) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(78, 91, 112) 0%, rgb(48, 63, 88) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(78, 91, 112) 0%, rgb(48, 63, 88) 100%);
  }
  .yellow-heading {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -moz-linear-gradient(0deg, rgb(255, 192, 1) 0%, rgb(215, 162, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(255, 192, 1) 0%, rgb(215, 162, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(255, 192, 1) 0%, rgb(215, 162, 0) 100%);
  }
}
.pb-80 {
  padding-bottom: 80px;
}
.p-t70-b80 {
  padding-top: 70px;
  padding-bottom: 80px;
}
.p-t40-b60 {
  padding-top: 40px;
  padding-bottom: 60px;
}
.mr-40 {
  margin-right: 40px;
}
.yellow-btn {
  display: inline-block;
  border-radius: 5px;
  background-image: -moz-linear-gradient( 52deg, rgb(209,160,35) 0%, rgb(191,148,49) 100%);
  background-image: -webkit-linear-gradient( 52deg, rgb(209,160,35) 0%, rgb(191,148,49) 100%);
  background-image: -ms-linear-gradient( 52deg, rgb(209,160,35) 0%, rgb(191,148,49) 100%);
  padding: 9px 25px;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: solid 3px rgba(255, 255, 255, 0.2);
  &:hover {
    color: #ffc001;
    background: #fff;
    border: solid 3px #ffc001;
  }
}
.blue-btn {
  display: inline-block;
  border-radius: 5px;
  background-image: -moz-linear-gradient( 52deg, rgb(78,91,112) 0%, rgb(48,63,88) 100%);
  background-image: -webkit-linear-gradient( 52deg, rgb(78,91,112) 0%, rgb(48,63,88) 100%);
  background-image: -ms-linear-gradient( 52deg, rgb(78,91,112) 0%, rgb(48,63,88) 100%);
  padding: 9px 25px;
  margin-right: 0px;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: solid 3px rgba(255, 255, 255, 0.2);
  &:hover {
    color: #2b3648;
    background: #fff;
    border: solid 3px #2b3648;
  }
}
.txtbox-one {
  width: 100%;
  border-bottom: 1px solid rgba(43,54,72,0.1);
  padding: 30px 0;
  &:last-child {
    border-bottom: 0px solid rgba(43,54,72,0.1);
    border-top: 1px solid rgba(255,255,255,1);
  }
  .to-icon {
    float: left;
  }
  .to-txt {
    padding-left: 75px;
    strong {
      font-size: 24px;
      font-weight: 500;
      display: block;
      margin: 10px 0;
    }
    p {
      padding: 0;
      margin: 0;
      font-size: 18px;
      line-height: 25px;
    }
  }
}
header {
  width: 100%;
  clear: both;
  padding: 10px 85px;
  background: #fff;
  box-shadow: 5.516px 4.31px 10px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  .h-logo {
    img {
      height: 70px;
    }
  }
  .navbar-default {
    background: none;
    border: 0px;
    border-radius: 0px;
    margin: 0;
    .navbar-header {
      .navbar-brand {
        height: inherit;
        padding: 0;
        line-height: inherit;
      }
    }
    .navbar-collapse {
      padding: 0;
      .navbar-nav {
        float: right;
        font-weight: 700;
        color: #7f8da5;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 0;
        > li {
          float: none;
          display: inline-flex;
          padding-top: 13px;
          a {
            font-weight: 700;
            color: #7f8da5;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 0;
            margin-right: 30px;
            &:hover {
              color: #2b3648;
            }
          }
        }
        > .active {
          a {
            background: none;
            color: #2b3648;
          }
        }
        > .member-btn {
          border: solid 3px rgba(255, 255, 255, 0.2);
          border-radius: 5px;
          background-image: -moz-linear-gradient( 52deg, rgb(78,91,112) 0%, rgb(48,63,88) 100%);
          background-image: -webkit-linear-gradient( 52deg, rgb(78,91,112) 0%, rgb(48,63,88) 100%);
          background-image: -ms-linear-gradient( 52deg, rgb(78,91,112) 0%, rgb(48,63,88) 100%);
          padding: 12px 25px 7px;
          a {
            margin-right: 0px;
            color: #fff;
            &:hover {
              color: #ffc001;
            }
          }
        }
        > .dropdown {
          > a {
            &:focus {
              background: none;
            }
          }
          .dropdown-menu {
            padding: 0;
            margin-top: 10px;
            a {
              padding: 10px 20px;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
.banner {
  background: #ffc001;
  position: relative;
  .banner-social {
    color: #fff;
    font-family: 'blacker';
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    li {
      display: inline-flex;
      margin-right: 20px;
      a {
        color: #fff;
        font-size: 22px;
        display: block;
        cursor: pointer;
        &:hover {
          color: #2b3648;
        }
      }
    }
  }
  .banner-slider {
    background: #fff;
    margin-right: 50px;
    position: relative;
    .single-item {
      .item {
        position: relative;
        display: block !important;
        .banner-txt {
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          p {
            font-size: 30px;
            line-height: 1;
            color: #2b3648;
            font-family: 'blacker';
          }
          strong {
            display: block;
            font-weight: 900;
            font-size: 90px;
            line-height: 90px;
            letter-spacing: 1px;
            // text-transform: uppercase;
            font-family: 'gilroy';
            // line-height: 60px;
            // margin-bottom: 60px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            // text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
            background-image: -moz-linear-gradient(0deg, rgb(78, 91, 112) 0%, rgb(48, 63, 88) 100%);
            background-image: -webkit-linear-gradient(0deg, rgb(78, 91, 112) 0%, rgb(48, 63, 88) 100%);
            background-image: -ms-linear-gradient(0deg, rgb(78, 91, 112) 0%, rgb(48, 63, 88) 100%);
          }
          .banner-search {
            max-width: 520px;
            width: 100%;
            display: flex;
            margin-top: 50px;
            border-radius: 100px;
            border: 3px solid rgba(255,255,255,0.2);
            select {
              width: 296px;
              background: url("../img/banner-search.png") no-repeat right #fff;
              border-radius: 50px 0 0 50px;
              appearance: none;
              -moz-appearance: none;
              -webkit-appearance: none;
              border: 0;
              font-size: 24px;
              color: #333333;
              padding: 13px 25px 13px 35px;
            }
            input[type="submit"], input[type="button"], button {
              border: 0;
              font-size: 24px;
              color: #2b3648;
              padding: 13px 35px;
              background: #ffc001;
              width: calc(100% - 296px);
              border-radius:0 50px 50px 0;
              border: 0;
            }
          }
        }
        >img {
          width: 100%;
        }
      }
    }
  }
}
.feature-box {
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 60px;
  > img {
    margin-bottom: 15px;
  }
  strong {
    display: block;
    span {
      display: block;
    }
  }
}
.promotion-section {
  background: #2b3648;
  .ps-box {
    background: url("../img/bg-02.jpg") #fff no-repeat;
    background-size: cover;
    margin-left: 50px;
    position: relative;
    z-index: 1;
  }
}
.join-form {
  padding-left: 100px;
  .jf-heading {
    font-family: 'Comic Sans MS';
    font-size: 30px;
    position: relative;
    margin-bottom: 25px;
    span {
      color: #ffc001;
      display: block;
    }
    .jf-arrow {
      position: absolute;
      left: -60px;
      top: 30px;
    }
  }
  .jf-form {
    background: #fff;
    border-radius: 0 40px 0 40px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
    padding: 50px;
    input[type="text"] {
      width: 100%;
      margin-bottom: 25px;
      border: 0;
      background: #e9ebec;
      border-radius: 5px;
      padding: 16px 25px;
      font-size: 20px;
    }
    select {
      width: 100%;
      margin-bottom: 25px;
      border: 0;
      background: url("../img/select-arrow.png") no-repeat right #e9ebec;
      border-radius: 5px;
      padding: 16px 25px;
      font-size: 20px;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
    input[type="submit"] {
      width: 100%;
      border: 0;
      border-radius: 5px;
      background-image: -moz-linear-gradient( 52deg, rgb(78,91,112) 0%, rgb(48,63,88) 100%);
      background-image: -webkit-linear-gradient( 52deg, rgb(78,91,112) 0%, rgb(48,63,88) 100%);
      background-image: -ms-linear-gradient( 52deg, rgb(78,91,112) 0%, rgb(48,63,88) 100%);
      padding: 11px 25px;
      color: #fff;
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: solid 3px rgba(255, 255, 255, 0.0);
      transition: ease 0.5s;
      &:hover {
        color: #2b3648;
        background: #fff;
        border: solid 3px #2b3648;
      }
    }
  }
}
.testimonial {
  width: 100%;
  clear: both;
  .testimonial-item {
    .slick-dots {
      li {
        button {
          &::before {
            border-radius: 50px;
            font-family: none;
            font-size: inherit;
            width: 15px;
            height: 15px;
            opacity: 1;
            background: #999;
          }
        }
      }
      .slick-active {
        button {
          &::before {
            background: #2b3648;
            opacity: 1;
            width: 25px;
          }
        }
      }
    }
    .item {
      padding: 70px 0 40px;
      .ts-photo {
        text-align: center;
        img {
          width: 270px;
          border-radius: 500px;
          margin: 0 auto;
          box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.15);
        }
      }
      .quote {
        margin: 30px 0 40px;
      }
      .ts-text {
        line-height: 35px;
        font-size: 18px;
      }
      .ts-name {
        color: #999999;
        margin-top: 30px;
        span {
          font-weight: 700;
          color: #2b3648;
          text-transform: uppercase;
        }
      }
    }
  }
}
footer {
  background: #f1f2f2;
  width: 100%;
  clear: both;
  .footer-menu {
    width: 100%;
    clear: both;
    padding: 70px 0 60px;
    .f-about {
      width: 100%;
      clear: both;
      > img {
        max-width: 170px;
        display: block;
        margin-bottom: 80px;
      }
      .f-social {
        font-size: 22px;
        padding: 0;
        margin: 0;
        li {
          display: inline-flex;
          margin-right: 12px;
          a {
            color: #2b3648;
            background: #fff;
            border-radius: 50px;
            font-size: 22px;
            display: block;
            text-align: center;
            width: 40px;
            height: 40px;
            line-height: 40px;
            &:hover {
              color: #fff;
              background: #2b3648;
            }
          }
        }
      }
    }
    .f-menu {
      width: 100%;
      clear: both;
      strong {
        display: block;
        font-family: 'blacker';
        font-size: 25px;
        border-bottom: 1px solid #dddfe1;
        font-size: 600;
        line-height: 1;
        padding-bottom: 25px;
      }
      ul {
        width: 100%;
        clear: both;
        padding-top: 15px;
        li {
          display: block;
          a {
            display: block;
            padding: 7px 0;
            color: #666666;
            &::before {
              content: "\f105";
              font-family: 'FontAwesome';
              padding-right: 10px;
            }
            &:hover {
              color: #2b3648;
              padding-left: 5px;
            }
          }
        }
        .simple-link {
          a {
            display: inline-block;
            color: #2b3648;
            border-bottom: 1px solid #2b3648;
            padding-bottom: 0;
            &::before {
              display: none;
              padding-right: 0px;
            }
            &:hover {
              padding-left: 0px;
            }
          }
        }
      }
    }
  }
  .footer-copy {
    width: 100%;
    clear: both;
    text-align: center;
    font-size: 16px;
    border-top: 1px solid #dddfe1;
    padding: 27px 0;
    span {
      color: #ffc001;
    }
  }
}
.flag-menu {
  width: 47px;
  margin-left: 30px;
  margin-right: 0;
  a {
    img {
      width: 47px;
      border-radius: 100px;
    }
  }
  .dropdown-menu {
    min-width: 89px;
    margin-left: -20px;
    // background: none;
    // border: 0;
    // box-shadow: none;
    li {
      // width: 47px;
      a {
        // padding-left: 0 !important;
        // padding-right: 0 !important;
      }
    }
  }
}
.flag-menu-mobile {
  width: 47px;
  margin-right: 0;
  position: absolute;
  right: 30px;
  top: 24px;
  z-index: 9;
  a {
    img {
      width: 47px;
      border-radius: 100px;
    }
  }
  .dropdown-menu {
    min-width: 89px;
    margin-left: -20px;
    // background: none;
    // border: 0;
    // box-shadow: none;
    li {
      // width: 47px;
      a {
        // padding-left: 0 !important;
        // padding-right: 0 !important;
      }
    }
  }
}
.inner-banner {
  width: 100%;
  clear: both;
  position: relative;
  border-right: 50px solid #ffc001;
  min-height: 180px;
  background: url("../img/inner-img.jpg") no-repeat;
  background-size: cover;
  > img {
    height: 100%;
    width: 100%;
  }
  .ib-heading {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    color: #fff;
    font-size: 60px;
    font-family: 'gilroy';
    font-weight: 900;
    line-height: 1;
  }
}
.cta-one {
  width: 100%;
  clear: both;
  background: url("../img/bg-03.jpg") no-repeat center center;
  background-size: cover;
  padding: 80px 0;
  text-align: center;
  strong {
    display: block;
    color: #fff;
    font-size: 50px;
    font-family: 'gilroy';
    font-weight: 900;
    line-height: 1;
    margin-bottom: 15px;
  }
  p {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 46px;
  }
}
.sidebar-box {
  border: 1px solid #f0f3f7;
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.08);
  background: #f0f3f7;
  .sb-heading {
    font-weight: 700;
    font-size: 16px;
    padding: 14px 20px;
  }
  .sb-box {
    background: #fff;
    border-radius: 0 0 5px 5px;
    .flag-list-menu {
      width: 100%;
      border: 0;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        margin-right: 5px;
      }
      li {
        a {
          font-size: 16px;
          font-weight: 700;
          padding: 10px 15px 10px 20px;
          color: #2b3648;
          display: block;
        }
      }
    }
    .btn-group {
      width: 100%;
      font-size: 16px;
      font-weight: 700;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        margin-right: 5px;
      }
      .dropdown-toggle {
        width: 100%;
        text-align: left;
        border: 0;
        padding: 10px 15px 10px 20px;
        font-size: 16px;
        font-weight: 700;
        .fa {
          float: right;
          margin-top: 7px;
        }
        &:hover {
          background: #fff;
        }
        &:focus {
          background: #fff;
        }
      }
      .dropdown-menu {
        width: 100%;
        padding: 0;
        max-height: 350px;
        overflow: auto;
        border: 0;
        li {
          a {
            font-size: 16px;
            font-weight: 700;
            padding: 13px 15px 13px 20px;
          }
        }
      }
    }
    .side-menu {
      width: 100%;
      border: 0;
      ul {
        padding: 0;
        .dropdown-side {
          a {
            text-decoration: none;
          }
          [data-toggle="dropdown"] {
            position: relative;
            display: block;
            font-size: 16px;
            font-weight: 700;
            padding: 14px 15px 14px 20px;
            color: #2b3648;
            display: block;
          }
          [data-toggle="dropdown-side"] {
            &:hover {
              background: #2c89c6;
            }
          }
          .icon-arrow {
            position: absolute;
            display: block;
            font-size: 14px;
            color: #2b3648;
            top: 14px;
            right: 10px;
            font-style: unset;
            &.open {
              -moz-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
              -moz-transition: -moz-transform 0.6s;
              -o-transition: -o-transform 0.6s;
              -webkit-transition: -webkit-transform 0.6s;
              transition: transform 0.6s;
            }
            &.close {
              -moz-transform: rotate(0deg);
              -ms-transform: rotate(0deg);
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
              -moz-transition: -moz-transform 0.6s;
              -o-transition: -o-transform 0.6s;
              -webkit-transition: -webkit-transform 0.6s;
              transition: transform 0.6s;
            }
            &::before {
              // content: '\25BC';
              font-family: "FontAwesome";
              content: "\f054";
            }
          }
          .dropdown-menu-side {
            max-height: 0;
            overflow: hidden;
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              padding: 0;
              a {
                display: block;
                background: rgba(146, 146, 146, 0.08);
                font-size: 15px;
                font-weight: 500;
                padding: 10px 15px 10px 30px;
                color: #2b3648;
                &:hover {
                  background: #fff;
                }
              }
            }
          }
          .show {
            -moz-transform-origin: 50% 0%;
            -ms-transform-origin: 50% 0%;
            -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
          }
          .hide {
            -moz-transform-origin: 50% 0%;
            -ms-transform-origin: 50% 0%;
            -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
          }
          .show {
            display: block;
            max-height: 9999px;
            -moz-transform: scaleY(1);
            -ms-transform: scaleY(1);
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            animation: showAnimation 0.5s ease-in-out;
            -moz-animation: showAnimation 0.5s ease-in-out;
            -webkit-animation: showAnimation 0.5s ease-in-out;
            -moz-transition: max-height 1s ease-in-out;
            -o-transition: max-height 1s ease-in-out;
            -webkit-transition: max-height 1s ease-in-out;
            transition: max-height 1s ease-in-out;
          }
          .hide {
            max-height: 0;
            -moz-transform: scaleY(0);
            -ms-transform: scaleY(0);
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
            animation: hideAnimation 0.4s ease-out;
            -moz-animation: hideAnimation 0.4s ease-out;
            -webkit-animation: hideAnimation 0.4s ease-out;
            -moz-transition: max-height 0.6s ease-out;
            -o-transition: max-height 0.6s ease-out;
            -webkit-transition: max-height 0.6s ease-out;
            transition: max-height 0.6s ease-out;
          }
        }
      }
    }
  }
}
.sort-bar {
  width: 100%;
  clear: both;
  margin-bottom: 20px;
  .sort-tag {
    display: inline-block;
    font-size: 14px;
    background: #f0f3f7;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    .fa {
      color: #ffc001;
      margin-left: 5px;
      cursor: pointer;
    }
  }
  .sb-grid {
    text-align: right;
    a {
      background: #f0f3f7;
      color: #2b3648;
      display: inline-block;
      border-radius: 5px;
      font-size: 20px;
      padding: 6px 10px;
      margin-left: 7px;
      &:hover {
        background: #2b3648;
        color: #f0f3f7;
      }
    }
  }
  .breadcrumb {
    padding-left: 0;
    background: none;
    margin-bottom: 0;
    li {
      a {
        color: #2b3648;
      }
    }
  }
}
.course-section {
  width: 100%;
  clear: both;
  .course-list {
    width: 100%;
    clear: both;
    border: 1px #f0f3f7 solid;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.08);
    // display: flex;
    margin-bottom: 30px;
    padding: 10px;
    float: left;
    .cl-img {
      width: 400px;
      border: 1px #f0f3f7 solid;
      border-radius: 5px;
      position: relative;
      float: left;
      img {
        border-radius: 5px;
        width: 100%;
      }
      .cl-tag {
        position: absolute;
        padding: 15px 5px 5px 5px;
        border-radius: 0 0 50px 50px;
        margin-left: 10px;
        top: -5px;
        background-image: -moz-linear-gradient( 90deg, rgb(255,192,1) 0%, rgb(255,192,1) 72%, rgb(217,168,21) 87%, rgb(255,192,1) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(255,192,1) 0%, rgb(255,192,1) 72%, rgb(217,168,21) 87%, rgb(255,192,1) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(255,192,1) 0%, rgb(255,192,1) 72%, rgb(217,168,21) 87%, rgb(255,192,1) 100%);
        img {
          width: 40px;
          border-radius: 50px;
          border: 2px solid #fff;
        }
        &::before {
          content: "";
          position: absolute;
          left: -5px;
          top: 0px;
          border-top: 5px solid transparent;
          border-right: 5px solid #ab850f;
        }
        &::after {
          content: "";
          position: absolute;
          right: -5px;
          top: 0px;
          border-top: 5px solid transparent;
          border-left: 5px solid #ab850f;
        }
      }
    }
    .cl-detail {
      padding: 30px 30px 30px 430px;
      // width: calc(100% - 400px);
      .cl-heading {
        font-family: 'gilroy';
        font-size: 30px;
        font-weight: 900;
        line-height: 1;
        margin-bottom: 18px;
        .cl-by {
          color: #999999;
          font-size: 16px;
          font-weight: 400;
          font-family: 'Roboto', sans-serif;
          float: right;
          margin-top: 10px;
          span {
            color: #2b3648;
          }
        }
        a {
          color: #2b3648;
        }
      }
      .cl-static {
        color: #999999;
        line-height: 1;
        margin-bottom: 14px;
        span {
          color: #ffc001;
        }
      }
      .cl-txt {
        p {
          line-height: 30px;
        }
      }
    }
  }
}
.paging {
  width: 100%;
  clear: both;
  text-align: center;
  ul {
    li {
      display: inline-block;
      font-size: 20px;
      font-weight: 700;
      margin: 0 5px;
      a {
        display: block;
        color: #abadb2;
        border-radius: 5px;
        background: #fff;
        border: 1px solid #bebfc3;
        width: 40px;
        line-height: 38px;
        height: 40px;
        &:hover {
          color: #fff;
          background: #2b3648;
          border: 1px solid #2b3648;
        }
      }
    }
    .active {
      a {
        color: #fff;
        background: #2b3648;
        border: 1px solid #2b3648;
      }
    }
    .last {
      a {
        color: #abadb2;
        background: #fff;
        border: 1px solid #fff;
      }
    }
  }
}
.level-section {
  width: 100%;
  clear: both;
  .ls-heading {
    font-family: 'gilroy';
    font-weight: 900;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 20px;
  }
  .ls-section {
    width: 100%;
    clear: both;
    border: 1px #f0f3f7 solid;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.08);
    padding: 30px 30px 0px 30px;
    .level-box {
      margin-bottom: 30px;
      width: 100%;
      clear: both;
      .lb-box {
        width: 100%;
        max-width: 256px;
        clear: both;
        margin: 0 auto 20px;
        background: url("../img/level-bg-blc.jpg") no-repeat center center;
        background-size: 100% 100%;
        border-radius: 5px;
        height: 270px;
        padding: 20px;
        cursor: pointer;
        .l-no {
          text-align: center;
          font-family: 'gilroy';
          font-weight: 900;
          font-size: 24px;
          line-height: 1;
          margin-bottom: 10px;
        }
        .l-name {
          text-align: center;
          font-family: 'gilroy';
          font-weight: 900;
          font-size: 22px;
          line-height: 1;
          margin-bottom: 10px;
          a {
            color: #2b3648;
          }
        }
        .l-star {
          width: 100%;
          clear: both;
          height: 125px;
          position: relative;
          margin-bottom: 20px;
          .star-center {
            position: absolute;
            width: 85px;
            height: 115px;
            background: url("../img/star-a.png");
            left: 50%;
            top: 0;
            transform: translate(-50%, 0);
          }
          .star-left {
            position: absolute;
            width: 62px;
            height: 83px;
            background: url("../img/star-b.png");
            left: 2px;
            top: 42px;
          }
          .star-right {
            position: absolute;
            width: 62px;
            height: 83px;
            background: url("../img/star-b.png");
            right: 2px;
            top: 42px;
          }
        }
        &:hover {
          box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.08);
        }
      }
      .active {
        background: url("../img/level-bg-ylo.jpg") no-repeat center center;
        background-size: 100% 100%;
        .l-no {
          color: #fff;
        }
        .l-name {
          color: #fff;
          a {
            color: #fff;
          }
        }
        .l-star {
          .star-center {
            background: url("../img/star-c.png");
          }
          .star-left {
            background: url("../img/star-d.png");
          }
          .star-right {
            background: url("../img/star-d.png");
          }
        }
      }
      p {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
      }
    }
  }
}
.map {
  width: 100%;
  clear: both;
  display: flex;
}
.contact-section {
  width: 100%;
  clear: both;
  h1 {
    line-height: 1;
  }
  .c-social {
    font-size: 22px;
    padding: 0;
    margin: 0;
    li {
      display: inline-flex;
      margin-right: 12px;
      a {
        color: #2b3648;
        background: #fff;
        border-radius: 50px;
        font-size: 22px;
        display: block;
        text-align: center;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border: 1px solid #2b3648;
        &:hover {
          color: #fff;
          background: #2b3648;
        }
      }
    }
  }
  .contact-info {
    margin-bottom: 50px;
    .ci-box {
      width: 100%;
      clear: both;
      margin-bottom: 40px;
      > img {
        float: left;
        margin-right: 40px;
      }
      .cib-txt {
        strong {
          display: block;
          font-size: 22px;
          font-weight: 700;
          line-height: 1;
          margin-bottom: 10px;
        }
        p {
          color: #666666;
          margin: 0;
        }
      }
    }
  }
  .contact-form {
    border: rgb(240, 243, 247) 1px solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.08);
    padding: 40px 50px;
    h1 {
      line-height: 1;
    }
    p {
      margin-bottom: 30px;
    }
    input[type="text"] {
      width: 100%;
      clear: both;
      margin-bottom: 10px;
      border: {
        top: 0;
        left: 0;
        right: 0;
        bottom: 1px solid #e5e8ed;
      }
      color: #999999;
      font-size: 18px;
      padding: 17px 10px;
    }
    textarea {
      width: 100%;
      clear: both;
      margin-bottom: 10px;
      border: {
        top: 0;
        left: 0;
        right: 0;
        bottom: 1px solid #e5e8ed;
      }
      color: #999999;
      font-size: 18px;
      padding: 10px 10px;
      resize: none;
    }
    input[type="submit"] {
      width: 100%;
      clear: both;
      padding: 11px 10px;
    }
  }
}
@keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-moz-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-webkit-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@-moz-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@-webkit-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
