<section class="inner-banner">
  <div class="ib-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          Arabic 1
        </div>
      </div>
    </div>
  </div>
</section>

<section class="yellow-bar-right">
  <div class="container">
    <div class="row yellow-bar-top p-t40-b60">
      <div class="col-xs-12">
        <div class="sort-bar">
          <div class="row">
            <div class="col-md-8 col-sm-8">
              <ul class="breadcrumb">
                <li><a href="a">Courses</a></li>
                <li><a href="a">Languages</a></li>
                <li><a href="a">European</a></li>
                <li>French</li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="sb-grid">
                <a href="#"><i class="fa fa-th-list" aria-hidden="true"></i> Levels (20)</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-section">
          <div class="course-list">
            <div class="cl-img">
              <div class="cl-tag">
                <img src="assest/img/flag-02.jpg" alt="" />
              </div>
              <a href="course-detail.html"><img src="assest/img/arabic-course.jpg" alt="" /></a>
            </div>
            <div class="cl-detail">
              <div class="cl-heading">
                <a href="course-detail.html">Arabic 1</a>
                <div class="cl-by">
                  by <span>My Mayo</span>
                </div>
              </div>
              <div class="cl-static">
                <span>354k learners</span>  |  <span>4h avg duration </span>
              </div>
              <div class="cl-txt">
                <p>Part 1 of the complete and inspirational mission to Memrise Arabic. Introduce yourself in Arabic, get around, and learn a bunch of useful colloquial expressions to make people smile.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="level-section">
          <div class="ls-heading">
            Levels (20)
          </div>
          <div class="ls-section">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="level-box">
                  <div class="lb-box active">
                    <div class="l-no">
                      1.
                    </div>
                    <div class="l-star">
                      <div class="star-center"></div>
                      <div class="star-left"></div>
                      <div class="star-right"></div>
                    </div>
                    <div class="l-name">
                      <a href="#">Code Cracker</a>
                    </div>
                  </div>
                  <p>This is simply dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="level-box">
                  <div class="lb-box">
                    <div class="l-no">
                      2.
                    </div>
                    <div class="l-star">
                      <div class="star-center"></div>
                      <div class="star-left"></div>
                      <div class="star-right"></div>
                    </div>
                    <div class="l-name">
                      More Code Cracker
                    </div>
                  </div>
                  <p>This is simply dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="level-box">
                  <div class="lb-box">
                    <div class="l-no">
                      3.
                    </div>
                    <div class="l-star">
                      <div class="star-center"></div>
                      <div class="star-left"></div>
                      <div class="star-right"></div>
                    </div>
                    <div class="l-name">
                      Code Cracker - Test!
                    </div>
                  </div>
                  <p>This is simply dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="level-box">
                  <div class="lb-box">
                    <div class="l-no">
                      4.
                    </div>
                    <div class="l-star">
                      <div class="star-center"></div>
                      <div class="star-left"></div>
                      <div class="star-right"></div>
                    </div>
                    <div class="l-name">
                      The Last of the Code
                    </div>
                  </div>
                  <p>This is simply dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="level-box">
                  <div class="lb-box">
                    <div class="l-no">
                      5.
                    </div>
                    <div class="l-star">
                      <div class="star-center"></div>
                      <div class="star-left"></div>
                      <div class="star-right"></div>
                    </div>
                    <div class="l-name">
                      Code Cracker - Final Test!
                    </div>
                  </div>
                  <p>This is simply dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="level-box">
                  <div class="lb-box">
                    <div class="l-no">
                      6.
                    </div>
                    <div class="l-star">
                      <div class="star-center"></div>
                      <div class="star-left"></div>
                      <div class="star-right"></div>
                    </div>
                    <div class="l-name">
                      How I Feel
                    </div>
                  </div>
                  <p>This is simply dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="level-box">
                  <div class="lb-box">
                    <div class="l-no">
                      7.
                    </div>
                    <div class="l-star">
                      <div class="star-center"></div>
                      <div class="star-left"></div>
                      <div class="star-right"></div>
                    </div>
                    <div class="l-name">
                      How I Feel
                    </div>
                  </div>
                  <p>This is simply dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="level-box">
                  <div class="lb-box">
                    <div class="l-no">
                      8.
                    </div>
                    <div class="l-star">
                      <div class="star-center"></div>
                      <div class="star-left"></div>
                      <div class="star-right"></div>
                    </div>
                    <div class="l-name">
                      How Are You?
                    </div>
                  </div>
                  <p>This is simply dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="level-box">
                  <div class="lb-box">
                    <div class="l-no">
                      9.
                    </div>
                    <div class="l-star">
                      <div class="star-center"></div>
                      <div class="star-left"></div>
                      <div class="star-right"></div>
                    </div>
                    <div class="l-name">
                      Food
                    </div>
                  </div>
                  <p>This is simply dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="level-box">
                  <div class="lb-box">
                    <div class="l-no">
                      10.
                    </div>
                    <div class="l-star">
                      <div class="star-center"></div>
                      <div class="star-left"></div>
                      <div class="star-right"></div>
                    </div>
                    <div class="l-name">
                      More Food
                    </div>
                  </div>
                  <p>This is simply dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="level-box">
                  <div class="lb-box">
                    <div class="l-no">
                      11.
                    </div>
                    <div class="l-star">
                      <div class="star-center"></div>
                      <div class="star-left"></div>
                      <div class="star-right"></div>
                    </div>
                    <div class="l-name">
                      What Do You Like?
                    </div>
                  </div>
                  <p>This is simply dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="level-box">
                  <div class="lb-box">
                    <div class="l-no">
                      12.
                    </div>
                    <div class="l-star">
                      <div class="star-center"></div>
                      <div class="star-left"></div>
                      <div class="star-right"></div>
                    </div>
                    <div class="l-name">
                      Why? Because...
                    </div>
                  </div>
                  <p>This is simply dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="level-box">
                  <div class="lb-box">
                    <div class="l-no">
                      13.
                    </div>
                    <div class="l-star">
                      <div class="star-center"></div>
                      <div class="star-left"></div>
                      <div class="star-right"></div>
                    </div>
                    <div class="l-name">
                      Why? Because...
                    </div>
                  </div>
                  <p>This is simply dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="level-box">
                  <div class="lb-box">
                    <div class="l-no">
                      14.
                    </div>
                    <div class="l-star">
                      <div class="star-center"></div>
                      <div class="star-left"></div>
                      <div class="star-right"></div>
                    </div>
                    <div class="l-name">
                      10, 9, 8 ...
                    </div>
                  </div>
                  <p>This is simply dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="level-box">
                  <div class="lb-box">
                    <div class="l-no">
                      15.
                    </div>
                    <div class="l-star">
                      <div class="star-center"></div>
                      <div class="star-left"></div>
                      <div class="star-right"></div>
                    </div>
                    <div class="l-name">
                      Restaurants
                    </div>
                  </div>
                  <p>This is simply dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="level-box">
                  <div class="lb-box">
                    <div class="l-no">
                      16.
                    </div>
                    <div class="l-star">
                      <div class="star-center"></div>
                      <div class="star-left"></div>
                      <div class="star-right"></div>
                    </div>
                    <div class="l-name">
                      Getting Fed
                    </div>
                  </div>
                  <p>This is simply dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="level-box">
                  <div class="lb-box">
                    <div class="l-no">
                      17.
                    </div>
                    <div class="l-star">
                      <div class="star-center"></div>
                      <div class="star-left"></div>
                      <div class="star-right"></div>
                    </div>
                    <div class="l-name">
                      What do you think?
                    </div>
                  </div>
                  <p>This is simply dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="level-box">
                  <div class="lb-box">
                    <div class="l-no">
                      18.
                    </div>
                    <div class="l-star">
                      <div class="star-center"></div>
                      <div class="star-left"></div>
                      <div class="star-right"></div>
                    </div>
                    <div class="l-name">
                      Be Honest
                    </div>
                  </div>
                  <p>This is simply dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="level-box">
                  <div class="lb-box">
                    <div class="l-no">
                      19.
                    </div>
                    <div class="l-star">
                      <div class="star-center"></div>
                      <div class="star-left"></div>
                      <div class="star-right"></div>
                    </div>
                    <div class="l-name">
                      Handy Phrases
                    </div>
                  </div>
                  <p>This is simply dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="level-box">
                  <div class="lb-box">
                    <div class="l-no">
                      20.
                    </div>
                    <div class="l-star">
                      <div class="star-center"></div>
                      <div class="star-left"></div>
                      <div class="star-right"></div>
                    </div>
                    <div class="l-name">
                      Handy Phrases
                    </div>
                  </div>
                  <p>This is simply dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cta-one">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <strong>Ready to Begin?</strong>
        <p>Find subjects you're passionate about by browsing our online course categories. <br />Start learning with top courses Built With Industry Experts.</p>
        <a href="#" class="yellow-btn mr-40">Start Teaching</a> <a href="#" class="yellow-btn">Start Learning</a>
      </div>
    </div>
  </div>
</section>
